<div class="col-md-8 offset-md-2 mt-3">
  <div class="user-box">
    <h3 class="text-center">ユーザー編集</h3>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :name %><br />
        <%= f.text_field :name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :description %><br />
        <%= f.text_area :description, class: "form-control" %>
      </div>

      <% if current_user.avatar.attached? %>
        <%= image_tag current_user.avatar.variant(resize: "300x300"), class: "img-thumbnail" %>
      <% end %>

      <div class="form-group">
        <%= f.label :avatar %>
        <%= f.file_field :avatar, class: "form-control" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="form-group">
        <%= f.label :password %> <i>変更したくない場合は空白のままにしてください。</i>
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
        <% if @minimum_password_length %>
          <br />
          <em><%= "#{@minimum_password_length} 文字以上を入力して下さい" %></em>
        <% end %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :current_password %> <i>(現在のパスワード)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.submit "更新", class: "btn btn-primary" %>
      </div>
    <% end %>

    <div class="form-inline mt-2">
      <%= button_to "アカウントを削除する", registration_path(resource_name), data: { confirm: "アカウント削除" }, method: :delete, class: "btn btn-warning" %>
      <%= link_to "戻る", :back, class: "btn btn-secondary ml-2" %>
    </div>
  </div>
</div>