<div class="col-md-8">
  <% @posts.each do |post| %>
    <div class="article">
      <h2>タイトル：<%= post.title %></h2>
      <p>作成日：<%= post.created_at %></p>
      <p><%= truncate(post.body, length: 50) %></p>
      <p><%= link_to "続きを読む", post, class: "btn btn-info" %></p>
    </div>
  <% end %>
</div>
<div class="col-md-4">
  <div class="list-group">
    <% @new_posts.each do |post, index| %>
      <%= link_to post.title, post, class: "list-group-item" %>
    <% end %>
  </div>
</div>